@media (max-width: 840px) {
    .main {
        width: 80%;
        padding: 0;
    }
    .note {
        width: 100%;
    }
}

@media (max-width : 480px) {
    .nav, .main, .note {
        width: 100%;
    }
}
